<div id="content">
<div class="container">
  <ul class="nav pull-center  nav-tabs">
    <li class="active"><%=link_to"最新动态","#"%></li>
    <li><%=link_to"我参与的投票","#"%></li>
    <li><%=link_to"自己发起的投票","#"%></li>
  </ul>
</div>
</div>
