@import "bootstrap";

//	background:rgb(117, 117, 156);
// margin-top:-60px;
// padding-top:20px;
 // padding-bottom:20px;
body{
	background:#edf0f5;
	color:#20396D;
	padding-top:60px;
}
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	margin-bottom: 4px;
}
p{
	margin-top:80px;
}
.header{
	margin-top:-60px;
	padding-top:20px;
	padding-bottom:20px;
	color:rgb(241, 238, 238) ;
	background:asset_url('cdu.jpg');
	background-position:bottom;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#content{
	background:#edf0f5;
}
