<%if user_signed_in?%>
      <header class="nav navbar-fixed-top navbar-inverse">
	<div class="container">
	  <ul class="nav navbar-nav  pull-right">
	    <li><%=link_to current_user.username,authenticated_root_path%></li>
	    <li><%=link_to"个人设置", account_path%></li>
	    <li><%=link_to" 退 出", destroy_user_session_path, method: "delete"%></li>
	    <li><span class="glyphicon glyphicon-home"></span></li>	
          </ul> 
	</div>
      </header>
<%end -%>


